body {
    background-color: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.display-basic-user-content {
}

a {
    color: #6466E9;
    font-weight: bold;
}

.header {
    color: #6466E9;
}

.search {
    padding-top: 30px;
    margin-bottom: 20px;
}

#posts-container {
    width: 100%;
    max-width: 800px; /* Optional: set maximum width to prevent it from taking up the entire screen */
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    word-wrap: break-word;
    border: 1px solid #6466E9;
    border-radius: 5px;
    box-sizing: border-box; /* Optional: include padding and border in the width and height */

  }
  
  /* .post {
    /* Style for each individual post */
    /* width: 30%; */
    /* margin: 10px; */
    /* Other styles */
  /* } */

   .search {
    background-color: #1c1f23;
    color: white;
    /* border: 1px solid white; */
    border-radius: 5px;
  }

  #search-container input[type="text"] {
    background-color: #1c1f23;
    border: 1px solid white;
    border-color: #6466E9;
    border-radius: 5px;
    color: white;
  }
