body {
    background-color: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 45px;
    margin-right: 45px;
}


.head {
    color: #6466E9;
    font-weight: lighter;
}

input[type="text"] {
    background-color: #1c1f23;
    border: 1px solid;
    border-color: #6466E9;
    width: 1105px;
    height: 45px;
    border: 1px solid;
    border-color: #6466E9;
    border-radius: 5px;
    padding: 15px;
    color: white;
}

select {
    /* center selector */
    background-color: #1c1f23;
    border: 1px solid;
    border-color: #6466E9;
    width: 1105px;
    height: 45px;
    color: white;
    font-weight: normal;
    font-size: 14
    px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #6466E9;
    border-image: initial;
    border-image-slice: initial;
    border: 1px solid;
    border-color: #6466E9;
    border-radius: 5px;
    padding: 14px;
}

button {
    background-color: #1c1f23;
    color: white;
    border: 1px solid;
    border-color: #6466E9;
    border-radius: 5px;
    padding: 15px;
}
