body {
    background-color: #1c1f23;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 144px;
    margin-right: 144px;
}

button {
    background-color: inherit;
    color: inherit;
    border: 2px solid #4D5562;
    padding: 14px;
    border-radius: 10px;
    font-size: 15px;
    color: #6446E9;
}

#head {
    color: #6446E9;
    font-weight: bold;
}

#rateFreelancer {
    background-color: inherit;
    color: #6446E9;
}
