body {
    background-color: #1c1f23;
    color: white;
    margin-left: 120px;
    margin-right: 120px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
}

#uploaded-image {
    position: relative;
    top: 106.5px;
    width: auto;
    height: 125px;
    border-radius: circle;
    width: 125px;
    height: 125px;
  }
  
  #uploaded-image {
    border-radius: 50%; /* Make it circular */
    overflow: hidden;
    background-position: center;
    background-size: cover;
    /* Add the following line to hide the fallback content */
    text-indent: 100%; 
    white-space: nowrap;
    overflow: hidden;
  }

  .info {
    text-align: left;
    /* display: flex; */
    justify-content: left;
    position: relative;
    top: -40px;
    left: 195px;
  }

  .info #signup-name {
    font-size: 1.5rem;
    color: #6466E9;
    float: left;
    position: absolute;
    top: -4.5px;
    left: -40px;
  }

  .info #user-username {
    font-size: 0.875rem;
    color: #C0C3C8;
    float: left;
    position: absolute;
    top: 42.5px;
    left: -40px;
  }

  #profile-releated {
    float: left;
    position: absolute;
    top: 195.5px;
    left: 270px;
  }

  button {
    background-color: #1c1f23;
    color: #C0C3C8;
    padding: 12px;
    border: 1.25px solid #C0C3C8;
    border-radius: 10px;
  }

  #gig-stats {
    float: left;
    position: absolute;
    top: 130px;
    left: 270px;
    padding-bottom: 15px;
  }

  #total-gigs {
    white-space: nowrap;
    margin-top: 27px;
    margin-bottom: 15px;
    position: absolute;
    float: left;
    left: 1.5px;
    color: #C0C3C8;
  }
  

  /* Gigs */

  body {
    background-color: #1c1f23;
    color: white;
    margin-left: 120px;
    margin-right: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

#head1 {
    font-size: 24px;
    font-weight: bold;
    color: #6466E9;
  }

  #head2 {
    margin-bottom: 15px;
    color: #6466E9;
    text-decoration: underline;
    margin-bottom: 35px;
  }

  .red-asterisk {
    color: red;
  }

  #container {
    margin-top: 100px;
  }

  input[type="text"] {
    background-color: inherit;
    color: #c2c9d6;
    border: 2px solid #4D5562;
    border-radius: 5px;
    height: 65px;
    font-size: 35px;
    width: 810px;
    min-width: 300px;
    max-width: 1250px;
  }

  select {
    background-color: inherit;
    color: #c2c9d6;
    border: 2px solid #4D5562;
    border-radius: 5px;
    height: 65px;
    font-size: 35px;
    width: 810px;
    min-width: 300px;
    max-width: 1250px;
  }

  input[type="number"] {
    background-color: inherit;
    color: #c2c9d6;
    border: 2px solid #4D5562;
    border-radius: 5px;
    height: 65px;
    font-size: 35px;
    width: 810px;
    min-width: 300px;
    max-width: 1250px;
  }

  textarea {
    background-color: inherit;
    color: #c2c9d6;
    border: 2px solid #4D5562;
    border-radius: 5px;
    height: 165px;
    font-size: 15px;
    width: 810px;
    min-width: 300px;
    max-width: 1250px;
  }

  #head1 {
    margin-top: 15px;
  }


  input[type="submit"] {
    padding: 15px;
    border: 2px solid #4D5562;
    border-radius: 10px;
    margin-top: 15px;
  }

  #info {
    color: #6466E9;
    font-size: 13px;
  }

  #gig-title {
    margin-top: -2px;
    font-size: 15px;
    font-weight: bold;
    color: #6466E9;
  }

  #gig-description {
    font-weight: lighter;
    font-size: 14px;
    width: -5px;
    word-wrap: break-word;
    margin-top: -5px;
    margin-bottom: -5px;
  }

  #price {
    color: #6466E9;
    font-size: 15px;
    font-weight: lighter;
  }

  .contact-freelancer {
    background-color: #1c1f23;
    border: 2px solid #6466E9;
    padding: 13px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 15px;
  }

  a {
    color: #6466E9;
    text-decoration: none;
  }

  #gigs-head {
    text-align: left;
    align-items: left;
    margin-bottom: 35px;
  }

  #gigs {
    float: left;
    position: absolute;
    top: 250px;
    word-wrap: break-word;
    margin-right: 25%;
    left: 270px;
    margin-top: 100px;

  }

  /* END OF GIG STYLE */

  #send-email-to-freelancer {
    color: #C0C3C8;
    float: left;
    position: absolute;
    font-size: 12px;
    top: 35.5px;
    left: -40px;
    margin-bottom: -151px;
  }

  body {font-family: Arial;}
  
  /* Style the tab */
  .tab {
    position: absolute;
    top: 280px;
    left: 275px;
    overflow: hidden;
    background-color: inherit;
    font-size: 20px;
    
    /* Animation */
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: inherit;
    color: #6466E9;
    font-weight: bold;

  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }


  