body {
	background-color: #1c1f23;
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
}

.head {
    color: #6466E9;
    font-weight: lighter;
}

input[type="text"] {
    background-color: #1c1f23;
    color: white;
    padding: 13px 13px 13px 13px;
    border: 1px solid #6466E9;
    border-radius: 5%;
}

button {
    background-color: #1c1f23;
    color: white;
    padding: 13px 13px 13px 13px;
    border: 1px solid #6466E9;
    border-radius: 5%;
}