body {
    background-color: #1c1f23;   
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
}

a {color: white;}

button {
    background-color: #1c1f23;
    padding: 20px 20px 20px 20px;
    border: 1px solid #6466E9;
    border-radius: 5%;
    color: white;
    font-size: 15px;
    margin-left: 12px;
}

input[type="text"] {
    background-color: #1c1f23;
    border: 1px solid #6466E9;
    border-radius: 5%;
    padding: 13px 13px 13px 13px;
    color: white;
}

select {
    background-color: #1c1f23;
    border: 1px solid #6466E9;
    border-radius: 5%;
    padding: 13px 13px 13px 13px;
    color: white;
}
