body {
    background-color: #1c1f23;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.header {
    color: #6466E9;
    font-weight: bold;
}

.redirect-to-signup {
    padding-top: 30px;
    
}

a {
    color: #6466E9;
    font-weight: bolder;
}

input[type=text] {
    width: 82%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #1c1f23;
    color: white;
    border-style: soild;
    border-color: #6466E9;
  }

  input[type=text]::placeholder {
    color: white;
  }
  
/* Style for the input */
input[type="email"] {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  background-color: #1c1f23;
}

  input[type=password] {
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    background-color: #1c1f23;
  }
  
  
  .myDiv:target{

    display:block !important;
    
    }

    .expose {
      display: flex;
      flex-direction: row;
    }
    
    .redirects {
      margin-top: 85px;
    }

    button {
      margin-top: 85px;
      background-color: #1c1f23;
      border: 1px solid #6466E9;
      border-radius: 7px;
      color: white;
      padding: 20px;
      text-align: center;
      }
      
      
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        text-indent: 100%; 
        white-space: nowrap;
        overflow: hidden;
      }
      
