body {
    background-color: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.header {
    color: #6466E9;
    font-weight: lighter;
}

.terms {
   margin-top: 72px; 
}

button {
    margin-top: 85px;
    background-color: #1c1f23;
    border: 1px solid #6466E9;
    border-radius: 7px;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    }
