body {
    background-color: #1c1f23;
    color: white;
    margin-left: 120px;
    margin-right: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

#head1 {
    font-size: 24px;
    font-weight: bold;
    color: #6466E9;
  }

  #head2 {
    margin-bottom: 15px;
    color: #6466E9;
    text-decoration: underline;
    margin-bottom: 35px;
  }

  .red-asterisk {
    color: red;
  }

  #container {
    margin-top: 100px;
  }

  input[type="text"] {
    background-color: inherit;
    color: #c2c9d6;
    border: 2px solid #4D5562;
    border-radius: 5px;
    height: 65px;
    font-size: 35px;
    width: 810px;
    min-width: 300px;
    max-width: 1250px;
  }

  select {
    background-color: inherit;
    color: #c2c9d6;
    border: 2px solid #4D5562;
    border-radius: 5px;
    height: 65px;
    font-size: 35px;
    width: 810px;
    min-width: 300px;
    max-width: 1250px;
  }

  input[type="number"] {
    background-color: inherit;
    color: #c2c9d6;
    border: 2px solid #4D5562;
    border-radius: 5px;
    height: 65px;
    font-size: 35px;
    width: 810px;
    min-width: 300px;
    max-width: 1250px;
  }

  textarea {
    background-color: inherit;
    color: #c2c9d6;
    border: 2px solid #4D5562;
    border-radius: 5px;
    height: 165px;
    font-size: 15px;
    width: 810px;
    min-width: 300px;
    max-width: 1250px;
  }

  #head1 {
    margin-top: 15px;
  }


  input[type="submit"] {
    padding: 15px;
    border: 2px solid #4D5562;
    border-radius: 10px;
    margin-top: 15px;
  }

  #info {
    color: #6466E9;
    font-size: 13px;
  }

  #gig-title {
    font-weight: bold;
    color: #6466E9;
  }

  #gig-description {
    font-weight: lighter;
    font-size: 14px;
    width: -5px;
    word-wrap: break-word;
    margin-top: -5px;
    margin-bottom: -5px;
  }

  #price {
    color: #6466E9;
    font-size: 15px;
    font-weight: lighter;
  }

  .contact-freelancer {
    background-color: #1c1f23;
    border: 2px solid #6466E9;
    padding: 13px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
  }

  a {
    color: #6466E9;
    text-decoration: none;
  }