body {
    background-color: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#comp-github-url {
    background-color: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 13px 13px 13px 13px;
    border: 1px solid #6466E9 radius 5%;
}


#comp-linkedln-url {
    background-color: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 13px 13px 13px 13px;
    border: 1px solid #6466E9 radius 5%;
}

