body {
    background: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 15px;
    font-size: 16px;
  }

  button {
    background-color: #1c1f23;
    border: 1px solid #6466E9;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 5%;
  }

  input[type="text"] {
    background-color: #1c1f23;
    border: 1px solid #6466E9;
    color: white;
    padding: 13px 13px 13px 13px;
    border-radius: 5%;
  }

  input[type="number"] {
    background-color: #1c1f23;
    border: 1px solid #6466E9;
    color: white;
    padding: 13px 13px 13px 13px;
    border-radius: 5%;
  }

  input[type="url"] {
    background-color: #1c1f23;
    border: 1px solid #6466E9;
    color: white;
    padding: 13px 13px 13px 13px;
    border-radius: 5%;
  }

  select {
    background-color: #1c1f23;
    border: 1px solid #6466E9;
    color: white;
    padding: 13px 13px 13px 13px;
    border-radius: 5%;
  }

  input[type="submit"] {
    background-color: #1c1f23;
    border: 1px solid #6466E9;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 5%;
  }

  .open-jobs {
    margin-top: 20px;
    padding: 13px;
    border: 1px solid #6466E9;
    /* color: #6466E9; */
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    width: auto;
    height: auto;
    inline-size: auto;
    overflow-wrap: break-word;
    padding-top: 20px;
  }
