body {
	background-color: #1c1f23;
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;

}

.header {
	padding-top: 20px;
	color: #6466E9;
}

.pomodoro {
    /* margin-top: 15px; */
	font-weight: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  
  .timer {
	color: #6466E9;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 15px;
  }
  
  .time {
	font-size: 177px;
	font-weight: bolder;
  }
  
  .controls {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bolder;
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  button {
	font-size: 16px;
	padding: 8px 16px;
	margin-right: 10px;
  }
  
  .settings {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  label {
	font-size: 16px;
	margin-bottom: 5px;
  }
  
  input {
	font-size: 16px;
	padding: 5px;
	width: 60px;
	margin-bottom: 10px;
  }
  
.music-player {
	padding-top: 240px;
	padding-bottom: auto;
	display: flex;
}

.amibent-sounds {
	padding-top: 10px;
	padding-left: auto;
	display: flex;
}


input[type="text"] {
    background-color: #1c1f23;
    color: white;
    border-color: #6466E9;
    border: 1px solid;
    width: 155px;
    height: 25px;
}

input[type="number"] {
    background-color: #1c1f23;
    color: white;
    border-color: #6466E9;
    border: 1px solid;
    width: 50px;
    height: 25px;
    text-align: center;
}

button {
    background-color: #1c1f23;
    color: white;
    border: 1px solid;
    border-color: #6466E9;
    font-weight: bold;
    box-shadow: 15px;
}

