body {
  background: #1c1f23;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.topnav {
  background-color: #1c1f23;
  overflow: hidden;
  text-align: center;
  align-items: center;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  align-items: center;
}

.topnav a:hover {
  background-color: #6466E9;
  color: black;
  font-weight: bolder;
  text-align: center;
  align-items: center;
}

.topnav a.active {
  font-weight: bolder;
  /* background-color: #6466E9; */
  color: white;
  text-align: center;
  text-align: center;
  align-items: center;
}

.tab-bar {
  background-color: #6466E9;
  text-align: center;
  color: white;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  width: 100%;
  border-radius: 5px;
  font-size: 17px;
  padding-right: 12px;
  margin-top: 25px;
}


a {
  color: white;
  font-weight: ;
}


.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: 5.2px solid #6466e999;
  border-radius: 5.2px;
  box-shadow: 444px #6466e981;
  margin-top: 42px;
  margin-bottom: 42px;
}

label[for="post-title"] {
  padding-bottom: 10px;
  width: 2500px;
}

input[type="submit"] {
  background-color: #6466E9;
  font-weight: bolder;
  color: white;
  font-size: 17px;
  padding: 17px 17px 17px 17px;
  border-radius: 5px;
  margin-bottom: 24.5px;
  margin-left: 6px;
  border-color: #6466E9;
}



#post-title {
  font-family: 'Open Sans', sans-serif;
  background-color: #1c1f23;
  border-radius: 5px; 
  border-color: #6466E9;
  color: white;
  font-size: 14.5px;
  width: 312px;
  height: 39px;
}

#post-body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1c1f23;
  border-radius: 5px;
  border-color: #6466E9;
  color: white;
  width: 312px;
  height: 200px;
}

textarea {
  font-size: 14.5px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input, textarea {
  margin-bottom: 10px;
  width: 1000px;
  padding: 5px;
}

input[type="checkbox"] {
  appearance: square;
  background-color: #6466E9;
  color: white;
  padding: 15px 15px 15px 15px;
}


button {
  margin-top: 10px;
  padding: 10px;
  background-color: #6466E9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6466E0;
}

.post-list-header {
  color: #6466E9;
  margin-left: 40px;
}

.post-list {
  margin-top: 20px;
  padding: 13px;
  border: 1px solid #6466E9;
  /* color: #6466E9; */
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  inline-size: auto;
  overflow-wrap: break-word;
  padding-top: 15px;
}

.post {
  margin-bottom: 15px;
}

.post h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.post p {
  margin: 0;
}

#show-container {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 40px;
  font-weight: bold;
  margin-right: 14px;
  margin-bottom: 14px;
  background-color: #6466E9;
  color: whitesmoke;
  box-shadow: 2.7px 2.7px 2.7px 2.7px #5456bcb5;
}

.msg-1 {
  text-align: center;
}

::selection {
  color: white;
  background: #4c4eb5fd;
}

.modal-header {
  text-align: center;
  color: #6466E9;
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* 50% transparent black */
  backdrop-filter: blur(5px); /* Adds a blur effect to the background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for modal container */
.modal-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.msg {
  text-align: center;
} 
