body {
    background-color: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

input[type="url"] {
    background-color: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
