body {
    background-color: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.tab-bar {
    background-color: #6466E9;
    text-align: center;
    color: white;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    font-size: 17px;
    padding-right: 12px;
    margin-top: 25px;
  }
  
  a {
    color: white;
  }

  #search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
  }
  .snippits-header {
    color: #6466E9;
    margin-bottom: 42.5px;
  }

.user-post-header {
    margin-top: 45px;
    margin-bottom: 65px;
}

.button-1 {
    background-color: coral;
}
