
body {
    background: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 144px;
  }

#head1 {
    font-size: 24px;
    font-weight: bold;
    color: #6466E9;
  }

  #head2 {
    margin-bottom: 15px;
    color: #6466E9;
    text-decoration: underline;
    margin-bottom: 35px;
  }

  .red-asterisk {
    color: #f25244;
}

input[type="text"] {
  background-color: #1c1f23;
  color: #c2c9d6;
  border: 2px solid #4D5562;
  border-radius: 5px;
  height: 65px;
  font-size: 35px;
  width: 810px;
  min-width: 300px;
  max-width: 1250px;
}

select {
  background-color: #1c1f23;
  color: #c2c9d6;
  border: 2px solid #4D5562;
  border-radius: 5px;
  height: 35px;
  font-size: 15px;
  width: 810px;
  min-width: 300px;
  max-width: 1250px;
}

input[type="submit"] {
  margin-top: 15px;
  padding: 15px;
  background-color: inherit;
  color: inherit;
  border: 2px solid #4D5562;
  border-radius: 10px;
}