body {
    background-color: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.topnav {
    background-color: #1c1f23;
    overflow: hidden;
    text-align: center;
    align-items: center;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    align-items: center;
  }
  
  .topnav a:hover {
    background-color: #6466E9;
    color: black;
    font-weight: 900;
    text-align: center;
    align-items: center;
  }
  
  .topnav a.active {
    font-weight: bolder;
    /* background-color: #6466E9; */
    color: white;
    text-align: center;
    text-align: center;
    align-items: center;
  }

  .topnav :active {
    background-color: #6466E9;
  }

.header {
    text-align: center;
    margin-bottom: 20px;
}

.acccount-details-header {
    /* color: #6466E9; */
    margin-top: 50px;
    display: inline-block;
    margin-bottom: 1em;
}

.security-header {
    padding-top: 20px;
}

.two-factor-create {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

/* input[name="two-factor-code"]  {
    background-color: #1c1f238b;
    border-color: #42464a8b;
    border: 2px;
} */

input[type="text"] {
    padding: 12.12px 12.12px 12.12px 12.12px;
    border-radius: 8px;
    background-color: #1c1f23;
    color: white;
    border-color: #6466E9;
}

input[type="email"] {
    padding: 12.12px 12.12px 12.12px 12.12px;
    border-radius: 8px;
    background-color: #1c1f23;
    color: white;
    border-color: #6466E9;
}

input[type="password"] {
    padding: 12.12px 12.12px 12.12px 12.12px;
    border-radius: 8px;
    background-color: #1c1f23;
    color: white;
    border-color: #6466E9;
}

.save {
    background-color: #6466E9;
    color: white;
    padding: 15px 13.25px 13.25px 13.25px;
    border-radius: 10px;
}

.submit {
    background-color: #6466E9;
    color: white;
    border-radius: 10px;
}

.contact-container {
    margin-bottom: 50px;
}

.profile-settings-renav {
    margin-top: 50px;
    text-align: center;
    padding: 15px;
    background-color: #6466E9;
    border-radius: 8px;
    width: 100%;
  }
  
