body {
    background-color: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }

  .topnav {
  background-color: #1c1f23;
  overflow: hidden;
  text-align: center;
  align-items: center;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  align-items: center;
}

.topnav a:hover {
  background-color: #6466E9;
  color: black;
  font-weight: bolder;
  text-align: center;
  align-items: center;
}

.topnav a.active {
  font-weight: bolder;
  /* background-color: #6466E9; */
  color: white;
  text-align: center;
  text-align: center;
  align-items: center;
}


  .link {
    margin-top: 50px;
    font-size: 18px;
    font-weight: bolder;
  }

  a {
    color: #6466E9;
    font-weight: bold;
  }
  
  a :hover {
    color: #5d5fce98;
    font-weight: bolder;
    text-decoration: underline;
  }

  .header {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* .create-article {
    border: 1px solid #19376D;
    border-radius: 5px;
  } */

  .post-list-header {
  color: #6466E9;
  text-align: left;
  margin-left: 110px;
  }

  .post-list {
  margin-top: 20px;
  padding: 13px;
  border: 1px solid #6466E9;
  /* color: #6466E9; */
  border-radius: 5px;
  margin-left: 110px;
  margin-right: 110px;
  inline-size: auto;
  overflow-wrap: break-word;
  text-align: left;
  align-items: left;
  }

  label[for="article-title"] {
    padding-bottom: 10px;
    width: 100%;
    height: 200px;
    resize: horizontal;
  }

  input[type="submit"] {
    background-color: #6466E9;
    font-weight: bolder;
    font-size: 17px;
    color: white;
    padding: 17px;
    border-radius: 5px;
    margin-bottom: 24.5px;
  }


  #article-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1c1f23;
    border-radius: 5px;
    color: white;
    width: 76%;
    font-size: 32px;
    font-weight: bold;
    height: 40px;
    background-color: #1c1f23;
    border-color: #6466E9;
    color: #6466E9;
  }


  #article-body {
    width: 76%;
    height: 200px;
    background-color: #1c1f23;
    border-color: #6466E9;
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  } 

  #credits {
    font-family: 'Open Sans', sans-serif;
    background-color: #1c1f23;
    border-radius: 5px;
    color: white;
    width: 76%;
    height: 40px;
    background-color: #1c1f23;
    border-color: #6466E9;
  }

  .credits {
    font-size: 19px;
    text-align: center;
  }

  input::placeholder {
    color: #6466E9;
}

#article-body::placeholder {
  color: #6466E9;
}


  #show-container {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 40px;
    font-weight: bold;
    margin-right: 14px;
    margin-bottom: 14px;
    background-color: #6466E9;
    color: whitesmoke;
    box-shadow: 2.7px 2.7px 2.7px 2.7px #5456bcb5; 
  }

  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #6466E9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .container {
    display: none;
  }


  ::selection {
  color: white;
  background: #4c4eb5fd;
  }

  input[type="checkmark"] {
    background-color: #6466E9;
  }


  .toggler :hover {
    font-weight: bolder;
    color: #6466E9;
    box-shadow: 5px 5px 5px 5px solid gray;
  }

  .addons {
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .finished {
    text-align: center;
    margin-top: 20px;
  
  }
  
  .finished img {
    height: 110px;
    width: auto;
    margin-top: 20px;
  }
