body {
    background-color: #1c1f23;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.header {
    margin-left: 40px;
}

.show-questions {
    margin-top: 20px;
    padding: 13px;
    border: 1px solid #6466E9;
    /* color: #6466E9; */
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

.nav-bar {
    background-color: #6466E9;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 19px;
    margin-left: 40px;
    margin-left: 40px;
    
}

a {
    color: white;
}